:root {
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --montserrat: 'Montserrat', sans-serif;
    --fraunces: 'Fraunces', serif;
    --a: hsl(228, 45%, 44%); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--cream);
    font-family: var(--montserrat);
    font-size: 14px;
    height: 100vh;
}
.main_container {
    background-color: var(--white);
    border-radius: 12px;
    min-height: 800px;
    margin: 60px auto 30px;
    width: 450px;
}
.container_image {
    border-radius: 12px 12px 0 0;
    content: url(../src/img/image-product-mobile.jpg);
    width: 450px;
}
.container_info {
    padding: 30px;
}
.ltr_spg {
    letter-spacing: 5px;
}
.mg_txt {
    margin: 15px 0;
}
.fW_bG_P {
    color: var(--darkGrayishBlue);
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
}
.fW_bG_T {
    color: var(--veryDarkBlue);
    font-family: var(--fraunces);
    font-size: 3rem;
    font-weight: 700;
}
.container_price {
    margin: 60px 0 10px 0;
}
.new_price{
    color: var(--darkCyan);
    display: inline-block;
}
.old_price{
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin: 0 0 0 30px;
    text-decoration: line-through;
}
.btn_Cart {
    align-items: center;
    background-color: var(--darkCyan);
    border: 2px solid var(--darkCyan);
    border-radius: 12px;
    color: var(--white);
    display: flex;
    font-weight: 700;
    justify-content: center;
    margin-top: 15px;
    padding: 20px;
    width: 100%;
}
.btn_Cart span {
    margin: 0 10px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: var(--a)
}